<!DOCTYPE html>

<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Login</title>
	</head>
	
	<body>		
		<form action = "profilemanagement/authentication/login" method = "POST">
			<fieldset>
				<legend>Login</legend>
				<table>
					<tr>
					    <td>User Name : </td>
					    <td><input type = "text" name = "usrname"></td>
		  			</tr>
		  			<tr>
					    <td>Password : </td>
					    <td><input type = "password" name = "pswd"></td>
		  			</tr>
		  			<tr>
					    <td><input type = "submit" value = "Submit"></td>
		  			</tr>
				</table>
			</fieldset>
		</form>
	</body>
</html>